<div class="carousel">
    <div class="carousel-wrapper">
            <div class="img-grid-cover" >
                <div id="chart-container">
                    <app-bar></app-bar>
                    <!-- <app-pie></app-pie> -->

                    <div class="aside-details">
                        <div class="published">Comics Published</div>
                        <div class="count">27,612</div>
                     </div>
                    <!-- <app-pie></app-pie> -->
                </div>
            </div>
    </div>
</div>