<div class="container">

    <div class="category-heading" (click)="togglePanel()">
        <div class="toggleIcon">
            <h2 class="panel-title">
                <ng-container *ngIf="charactersPanelOpenState; else elseArrowDown">
                    <mat-icon aria-hidden="false" aria-label="keyboard_arrow_down"> keyboard_arrow_down </mat-icon>Characters
                    <ng-container *ngIf="charactersTotal!==''">({{charactersTotal}})</ng-container>
                </ng-container>
                <ng-template #elseArrowDown>
                    <mat-icon aria-hidden="false" aria-label="keyboard_arrow_right"> keyboard_arrow_right </mat-icon>Characters
                    <ng-container *ngIf="charactersTotal!==''">({{charactersTotal}})</ng-container>
                </ng-template>
            </h2>
            <ng-container *ngIf="!charactersSeeAllIsEnabled">
                <h2 class="panel-title">
                    <a routerLink="/characters">See All</a>
                </h2>
             </ng-container>
        </div>
    </div>
    <ng-container *ngIf="charactersPanelOpenState">
    <mat-accordion [togglePosition]="'before'">
    <mat-expansion-panel [expanded]="true" (opened)="charactersPanelOpenState = true" (closed)="charactersPanelOpenState = false" hideToggle>


    <div  #cardRow class="card-wrapper card-row">
        
            
        <div  class="card" *ngFor="let item of charactersCardDetails;let i=index"  (click)="goToDetailCard(item)">
     
            <ng-container>
                <div  class="image-container">
                    <img [src]="item.thumbnail" [alt]="item.thumbnail" >
                </div>
                <div  class="details">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-description">
                                <ng-container *ngIf="item.description;else elseContinue">
                                    <ng-container *ngIf="item.description.length>=33">
                                        {{ item.description | slice:0:33 }} 
                                    </ng-container>
                                </ng-container>
                                <ng-template #elseContinue>
                                    Description Not Available
                                </ng-template>
                            </p>
                            
                            <div class="view-card">View Details</div>
                </div>
            </ng-container>
        </div>

    <!-- </ng-container> -->
    </div>
    </mat-expansion-panel>
    </mat-accordion>
    </ng-container>
</div>