<div class="container">

    <div class="category-heading" (click)="togglePanel()">
        <div class="toggleIcon">
            <h2 class="panel-title">

                <ng-container *ngIf="comicsPanelOpenState; else elseArrowDown">
                    <mat-icon aria-hidden="false" aria-label="keyboard_arrow_down"> keyboard_arrow_down </mat-icon>
                </ng-container>
                <ng-template #elseArrowDown>
                    <mat-icon aria-hidden="false" aria-label="keyboard_arrow_right"> keyboard_arrow_right </mat-icon>
                </ng-template>
                <ng-container *ngIf="comicsTotal!==''">
                    <ng-container *ngIf="!comicsSeeAllIsEnabled ">Comics ({{comicsTotal}})</ng-container>
                    <ng-container *ngIf="comicsSeeAllIsEnabled ">All Comics({{comicsTotal}})</ng-container>
                </ng-container>
               
            </h2>
            <ng-container *ngIf="!comicsSeeAllIsEnabled">
                <h2 class="see-all">
                    <a routerLink="/comics">See All</a>
                </h2>
             </ng-container>
           
        </div>
    </div>

    <ng-container >
    <mat-accordion [togglePosition]="'before'" >
        <mat-expansion-panel [expanded]="true" (opened)="comicsPanelOpenState = true" (closed)="comicsPanelOpenState = false" hideToggle>
    
        <div  #cardRow class="card-wrapper card-row">
            
            <ng-container *ngIf="comicsPanelOpenState">
            <div  class="card" *ngFor="let item of comicsCardDetails;let i=index"  (click)="goToDetailCard(item)">
         
                <div class="image-container">
                    <ng-container *ngIf="!placeholderFlag; else elsePlaceholderTemplate">
                        <img class="card-img" [src]="item.thumbnail" [alt]="item.thumbnail" >
                    </ng-container>
                    <ng-template #elsePlaceholderTemplate>
                        <img alt="image-placeholder" src="./../../../assets/image-placeholder.svg">
                        <!-- <div>Loading...</div> -->
                    </ng-template>
                </div>
              
                    <div  class="details">
                                <h5 class="card-title">{{item.name}}</h5>
                                <p class="card-description">
                                    <ng-container *ngIf="item.description;else elseContinue">
                                        <ng-container *ngIf="item.description.length>=33">
                                            {{ item.description | slice:0:33 }} 
                                        </ng-container>
                                    </ng-container>
                                    <ng-template #elseContinue>
                                        Description Not Available
                                    </ng-template>
                                </p>
                                <div class="view-card">View Details</div>
                    </div>
                </div>
            </ng-container>
        <!-- </ng-container> -->
        </div>
        </mat-expansion-panel>
    </mat-accordion>
    </ng-container>

</div>