<div class="carousel">
    <div class="carousel-wrapper">
            <div class="img-grid-cover" >
                <div class="detail-image-wrapper">
                    <img class="detail-image"  [src]="availableDetails.thumbnail" [alt]="availableDetails.thumbnail" >
                </div>
            </div>
    </div>
</div>
<div class="available-detail">
    <div class="container">
        <!-- <div class="detail-image-wrapper">
            <img class="detail-image"  [src]="availableDetails.thumbnail" [alt]="availableDetails.thumbnail" >
        </div> -->
        <h2 class="available-title"> {{availableDetails.name}}</h2>
        <p class="available-description"> 
            <ng-container *ngIf="availableDetails.description;else elseContinue">
                    {{ availableDetails.description}} 
            </ng-container>
            <ng-template #elseContinue>
                Description Not Available
            </ng-template>
        </p>
        <div class="available-container">
            <div class="available-item" *ngIf="availableDetails.comicsAvailable">
                <h3 class="available-count">
                    {{availableDetails.comicsAvailable}}
                </h3>
                <p>
                    comics
                    available
                </p>
            </div>
            <div class="available-item"  *ngIf="availableDetails.eventsAvailable">
                <h3 class="available-count">
                    {{availableDetails.eventsAvailable}}
                </h3>
                <p>
                    events
                    available
                </p>
            </div>
            <div class="available-item"  *ngIf="availableDetails.seriesAvailable">
                <h3 class="available-count">
                    {{availableDetails.seriesAvailable}}
                </h3>
                <p>
                    series
                    available
                </p>
            </div>
            <div class="available-item" *ngIf="availableDetails.storiesAvailable">
                <h3 class="available-count">
                    {{availableDetails.storiesAvailable}}
                </h3>
                <p>
                    stories
                    available
                </p>
            </div>
        </div>
    </div>
</div>
