/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }
.mat-body, .mat-body-1, .mat-typography {
    font: 400 14px/20px Poppins, "Helvetica Neue", sans-serif !important;
    letter-spacing: normal;
}
a {
    transition: color 0.2s ease-in-out 0s;
    text-decoration: underline;
}
.container{
    width: 80%; 
    margin: auto;
}
.right-aligned-header > .mat-content {
    justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}

p {
    font-size: 16px;
    line-height: 1.5;
    text-transform: capitalize;
}

.bodybg-color{
    background-color: rgb(245, 248, 250);
}
.detailbg-color{
background: linear-gradient(to right, rgba(13, 37, 63, 0.99) 0%, rgba(1, 9, 18, 0.9) 100%);
}
.toggleIcon{
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 248, 250);
}

h2.panel-title{
    font-size: 24px;
    font-weight: bold;
    word-spacing: 4px;
    margin-bottom: 0px;
    color: rgb(13, 37, 63);
    text-transform: uppercase;
    position: relative;
z-index: 2;
cursor: pointer;
display: flex;
justify-content: space-between;
}
.category-heading{
    margin: 1rem 0;
}

h2.panel-title::before{
    content: "";
    position: absolute;
    color: rgb(204, 204, 204);
    font-size: 26px;
    height: 90px;
    width: 3px;
    background-color: rgb(1, 180, 228);
    transform: rotate(45deg);
    top: -30px;
    left: 75px;
    z-index: 0;
}