/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }
.mat-body, .mat-body-1, .mat-typography {
    font: 400 14px/20px Poppins, "Helvetica Neue", sans-serif !important;
    letter-spacing: normal;
}
a {
    transition: color 0.2s ease-in-out 0s;
    text-decoration: underline;
}
.container{
    width: 80%; 
    margin: auto;
}
.right-aligned-header > .mat-content {
    justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}